@import url("https://festa2025.softwarelivre.eu/css/fonts.css");

html {
  font-family: "Sofia Sans", "apple-system", "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "League Gothic", "apple-system", "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
pre{
  font-family: "Consolas", "Monaco", Courier, monospace;
  font-size: 1em;
}

h1 {
  font-weight: 800;
}
h2, h3 {
  font-weight: normal;
}

.remark-slide-content {
  font-size: 25px;
  background-image: url('img/template/bg-slides.png');
  background-size: contain;
}
.remark-slide-content h1 {
  font-size: 45px;
  color: #243571;
}
.remark-slide-content h2 {
  font-size: 35px;
  color: #398FC7;
}
.remark-slide-content h3 {
  font-size: 25px;
  color: #398FC7;
}

.remark-slide-number {
  left: 10px;
  bottom: 6px;
  right: auto;
  color: #CAEBF3;
  opacity: 1.8;
}
.title .remark-slide-number{
  display: none;
}

img {
  max-width: 95%;
}
p li {
  line-height: 1.5;
}
.remark-notes li {
  line-height: 1.1;
}

.remark-code ,
.hljs-default .hljs {
  font-size: 25px;
  border-radius: 5px;
  display: block;
  padding: .5em;
  overflow-x: auto;
  background: #CAEBF3;
  color: #111111;
}
.remark-inline-code {
  background: #CAEBF3;
  color: #111111;
}
.remark-code-line-highlighted {
  color: #CAEBF3;
  background-color: #6B4C61;
}

.small {
  font-size: 20px;
}
.tiny {
  font-size: 16px;
}

.title{
  vertical-align: middle;
  background-image: url('img/template/bg-title.png');
  background-size: contain;
  text-align: right;
}
.title .content{
  width: 100%;
  float: center;
  text-align: center;
}
.title h1 {
  font-size: 60px;
}
.title h2 {
  font-size: 50px;
}
.title h3 {
  font-size: 40px;
}

.pic img {
  vertical-align: middle;
  text-align: center;
}
.pic-circle img {
  vertical-align: middle;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.impact {
  background-image: url('img/template/bg-impact.png');
  background-size: contain;
}
.impact .content {
  width: 75%;
  margin: auto;
  color: #444;
}
.impact h1 {
  font-size: 60px;
}

.inverse {
  background: #243571;
  color: #CAEBF3;
  text-shadow: 0 0 20px #2C001E;
}
.inverse h1, .inverse h2 {
  color: #CAEBF3;
  line-height: 1.1em;
  /* background-color: #2C001E; */
}

/* Two-column layout */
.left-column {
  width: 48%;
  float: left;
}
.right-column {
  width: 48%;
  float: right;
}
.no-column {
  clear: both;
}
.remove-top-space {
  margin-block-start: -30.15px;
}

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.v-align-top {
  vertical-align: top;
}
.v-align-mid {
  display: inline-block;
  vertical-align: middle;
}
.v-align-bottom {
  vertical-align: bottom;
}

.no-bullets li {
  list-style-type: none;
}

.room-info {
  position: fixed;
  bottom: 15px;
  left: 15px;
  background-color: #243571BB;
  border-radius: 40px;
  min-width: 300px;
  max-width: 450px;
  font-size: 22px;
  text-align: left;
  color: #CAEBF3;
  line-height: 1.2;
  padding: 0px 15px 0px 15px;
}
.room-info > p {
  margin: 15px 15px 15px 15px;
  text-indent: -75px;
}
.room-info table {
  margin: 25px 25px 25px 25px;
  font-size: 18px;
}

